# cargo build dir
/target
# cargo dependancy locks
cargo.lock
# any zip files
*.zip
# logs
/logs
/debug

# old tataku resource files, before /game was used
/downloads
/[Ss]ongs
/replays
/skins
/tataku.db
/tataku_diffs.db
/settings.json

# new tataku resource dirs
/game
/game[0-9]
/Screenshots

# test files
test.log
/csv
/html
todo