row {
    flex-direction: row;
}
column {
    flex-direction: column;
}

text {
    width: 100%;
}

textInput {
    min-width: 10em;
}

button {
    padding: 4px;
}

dropdown > column {
    position: absolute;
    gap: 8px;
}
